#--------------------------------------------------
# Répertoire : /
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

#--------------------------------------------------
# ROUTES DES PROJETS
#--------------------------------------------------

  # LISTES DES PROJETS
  # PATTERN: /
  # VERS: index.php?posts=x
  #  RewriteRule ^projets\/([1-9][0-9]*)\/([a-z0-9][a-z0-9\-]*)$ index.php?posts=$1 [L]



  # DETAILS D'UN PROJET
  # PATTERN: /projets/id/slug.html
  # VERS: index.php?posts=show&id=x
    RewriteRule ^projets\/([1-9][0-9]*)\/([a-z0-9][a-z0-9\-]*)$ index.php?posts=show&id=$1 [L]


  # SUPRESSION D'UN PROJET
  # PATTERN:  /projets/delete/id/slug.html
  # VERS: index.php?posts=delete&id=xxx
    RewriteRule ^projets\delete/\/([1-9][0-9]*)\/([a-z0-9][a-z0-9\-]*)$ index.php?posts=delete&id=$1 [L]


# --------------------------------------------------
RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf)$ [NC]
RewriteRule ^(.*)$ index.php [L]
